body {
    padding-top:120px;
    padding-bottom:120px;
}

@media screen and (max-width: 768px) {
    body { padding-top: 240px; }
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 120px;
    right: 40px;
    display:none;
    background-color:gray;
    border-color: gray;
    opacity: .70;
}

.back-to-top:hover {
    opacity:1;
    background-color:gray;
}    

/*------------------------------------------------------------------------------------------ Nav Bar */		

#nav-button{
    margin-top: 25px;
    border-color:black;
}

#nav-button:hover{
    background-color:white;
}

#nav-button:focus{
    background-color:white;
}

#nav-button span{
    background-color:black;
}

#ma-navbar{
    padding-top:30px;
}
.nav-a{
    text-align:center;
}

.nav-span{
    color:black;
}
 
.navbar-brand {
    text-align: left;
    width:100px;
    height: 75px;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

/*------------------------------------------------------------------------------------------ Home Page */

#home-intro-div{
    text-align:center;
    height: 500px;
    line-height: 495px;
    background-color: rgba(245, 245, 245, 0.4);
}

#home-intro-div span{
    color: black;
    vertical-align: middle;
    display: inline-block;
}


.home-section{
    padding: 20px;
    /*max-height:400px;*/
}

@media screen and (min-width: 480px){
    #home-section1, #home-section2, #home-section3, #home-section4{
        padding-top:100px;
        padding-bottom: 100px;
    }
}

/*.home-text-div{*/
/*    padding:20px 0;*/
/*}*/

.home-img-div{
    margin: 30px 0;     
    text-align:center;
}

.home-img{
    max-width: 70%;
}

.home-sect4-img{
    max-width: 70%;
}

/*------------------------------------------------------------------------------------------ FAQ Page */

.faq-section{
    padding: 20px;
    height:300px;
}

/*------------------------------------------------------------------------------------------ Contact Page */

/*------------------------------------------------------------------------------------------ About Page */

/*------------------------------------------------------------------------------------------ footer */

#div-footer{
    height: 100px;
    padding: 20px;
}

#div-footer span{
    display:block;
    color:black;
}
/*------------------------------------------------------------------------------------------media queries */