
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


/*------------------------------------------------------------------------------------------ Background Colours */		



/*------------------------------------------------------------------------------------------ Body */		

body {
    padding-top:120px;
    padding-bottom:120px;
}

@media screen and (max-width: 768px) {
    body { padding-top: 240px; }
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 120px;
    right: 40px;
    display:none;
    background-color:/*bttbg*/gray;
    border-color: /*bttb*/gray;
    opacity: .70;
}

.back-to-top:hover {
    opacity:1;
    background-color:/*btthbg*/gray;
}    

/*------------------------------------------------------------------------------------------ Nav Bar */		

#nav-button{
    margin-top: 25px;
    border-color:/*nbbc*/black;
}

#nav-button:hover{
    background-color:/*nbhbg*/white;
}

#nav-button:focus{
    background-color:/*nbfbg*/white;
}

#nav-button span{
    background-color:/*nbsbg*/black;
}

#ma-navbar{
    padding-top:30px;
}
.nav-a{
    text-align:center;
}

.nav-span{
    color:/*nsc*/black;
}
 
.navbar-brand {
    text-align: left;
    width:100px;
    height: 75px;
}

.navbar-default {
    background-color:/*ndbg*/ white;
    border-color: /*ndbc*/white;
}

/*------------------------------------------------------------------------------------------ Home Page */

/*---------------------------------- Test Parallax */
.para-img1, .para-img2, .para-img3, .para-img4, .para-img5 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid;  
}

.para-img1 {  
    background-image: url("../images/home/para-img1.jpeg");
    min-height: 100%;
    height:400px;
}

.para-img2 {  
    background-image: url("../images/home/para-img9.jpg");
    min-height: 100%;
    height:400px;
}

.para-img3 {  
    background-image: url("../images/home/para-img10.jpg");
    min-height: 100%;
    height:400px;
}

.para-img4 {  
    background-image: url("../images/home/para-img11.jpg");
    min-height: 100%;
    height:400px;
}

.para-img5 {  
    background-image: url("../images/home/para-img3.jpg");
    min-height: 100%;
    height:400px;
}

.para-text {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.para-text .border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .para-img1, .para-img2, .para-img3, .para-img4, .para-img5{
        background-attachment: scroll;
    }
}
/*----------------------------------*/

#home-section0-img{
    min-height: 100%;
    height:400px;
    position: relative;
    background-color: rgba(245, 245, 245, 0.4);
}

#home-section0-text{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

#home-section0-text .border{
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.home-container{
    /*padding-left:0px;*/
    /*padding-right:0px;*/
    /*margin-left:0px;*/
    /*margin-right:0px;*/
    /*border:1px solid;*/
}

.home-section{
    /*padding: 20px 0;*/
    /*border:1px solid;*/
}

.home-section p{
    padding: 0 20px;
}

.home-section-div{
    /*padding-left:15px;*/
    /*padding-right:15px;*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*border:1px solid;*/
}    


/*.home-text-div{*/
/*    padding:20px 0;*/
/*}*/

.home-img-div{
    text-align:center;
}

.home-img{
    max-width: 100%;
    margin: 30px 0;     
}

.home-sect4-img{
    max-width: 100%;
    margin: 30px 0;  
}
.sect4-p{
    margin:0 70px;
}

/*------------------------------------------------------------------------------------------ media queries */

@media screen and (min-width: 480px){
    #home-section0, #home-section1, #home-section2, #home-section3, #home-section4{
        padding-top:70px;
        padding-bottom: 70px;
    }
}

/*------------------------------------------------------------------------------------------ FAQ Page */

.faq-section{
    padding: 20px;
    /*height:300px;*/
}

.panel-default>.panel-heading {
    background-color: /*faqbg*/white;
    border:1px solid white;
}

/*------------------------------------------------------------------------------------------ Contact Page */

/*------------------------------------------------------------------------------------------ About Page */
.text-error{
    color:red;
}
.submitPressed .ng-invalid
{
    border:1px solid #f00;
}
/*------------------------------------------------------------------------------------------ Footer */

#div-footer{
    height: 100px;
    padding: 10px;
}

#div-footer span{
    display:block;
    color:black;
}

.social-links{
    padding-bottom: 15px;
}
.social-links li a i{
    width:32px;
    height:32px;
    padding:12px 0;
    border-radius: 50%;
    font-size:13px;
    line-height: 7px;
    text-align:center;
    color: #fafafa;
    background:#8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover{
    background:#e84610;
}
/*------------------------------------------------------------------------------------------ media queries */