
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');



/*------------------------------------------------------------------------------------------ Background Colours */		



/*------------------------------------------------------------------------------------------ Body */		

body {
    padding-top:120px;
    padding-bottom:120px;
}

@media screen and (max-width: 768px) {
    body { padding-top: 240px; }
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 120px;
    right: 40px;
    display:none;
    background-color:/*bttbg*/gray;
    border-color: /*bttb*/gray;
    opacity: .70;
}

.back-to-top:hover {
    opacity:1;
    background-color:/*btthbg*/gray;
}    

/*------------------------------------------------------------------------------------------ Nav Bar */		

#nav-button{
    margin-top: 25px;
    border-color:/*nbbc*/black;
}

#nav-button:hover{
    background-color:/*nbhbg*/white;
}

#nav-button:focus{
    background-color:/*nbfbg*/white;
}

#nav-button span{
    background-color:/*nbsbg*/black;
}

#ma-navbar{
    padding-top:30px;
}
.nav-a{
    text-align:center;
}

.nav-span{
    color:/*nsc*/black;
}
 
.navbar-brand {
    text-align: left;
    width:100px;
    height: 75px;
}

.navbar-default {
    background-color:/*ndbg*/ white;
    border-color: /*ndbc*/white;
}

/*------------------------------------------------------------------------------------------ Home Page */

#home-intro-div{
    text-align:center;
    height: 500px;
    line-height: 495px;
    background-color: rgba(245, 245, 245, 0.4);
}

#home-intro-div span{
    color: black;
    vertical-align: middle;
    display: inline-block;
}


.home-section{
    padding: 20px;
    /*max-height:400px;*/
}

@media screen and (min-width: 480px){
    #home-section1, #home-section2, #home-section3, #home-section4{
        padding-top:100px;
        padding-bottom: 100px;
    }
}

/*.home-text-div{*/
/*    padding:20px 0;*/
/*}*/

.home-img-div{
    margin: 30px 0;     
    text-align:center;
}

.home-img{
    max-width: 70%;
}

.home-sect4-img{
    max-width: 70%;
}

/*------------------------------------------------------------------------------------------ FAQ Page */

.faq-section{
    padding: 20px;
    /*height:300px;*/
}

.panel-default>.panel-heading {
    background-color: /*faqbg*/white;
    border:1px solid white;
}

/*------------------------------------------------------------------------------------------ Contact Page */

/*------------------------------------------------------------------------------------------ About Page */

/*------------------------------------------------------------------------------------------ Footer */

#div-footer{
    height: 100px;
    padding: 10px;
}

#div-footer span{
    display:block;
    color:black;
}

.social-links{
    padding-bottom: 15px;
}
.social-links li a i{
    width:32px;
    height:32px;
    padding:12px 0;
    border-radius: 50%;
    font-size:13px;
    line-height: 7px;
    text-align:center;
    color: #fafafa;
    background:#8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover{
    background:#e84610;
}
/*------------------------------------------------------------------------------------------media queries */