<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title pan">
            <a data-toggle="collapse" data-parent="#accordion" href="#faq2-1">Question 1</a>
        </h4>
    </div>
    <div id="faq2-1" class="panel-collapse collapse">    
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
            dolor in hendrerit in vulputate velit esse molestie consequat,
            vel illum dolore eu feugiat nulla facilisis at vero eros et
            accumsan et iusto odio dignissim qui blandit praesent luptatum
            zzril delenit augue duis dolore te feugait nulla facilisi.
        </p>
    </div>
</div>
<!----------------------------------------------------------------------------------------------------->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title pan">
            <a data-toggle="collapse" data-parent="#accordion" href="#faq2-2">Question 2</a>
        </h4>
    </div>
    <div id="faq2-2" class="panel-collapse collapse">    
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
        </p>
    </div>
</div>
<!----------------------------------------------------------------------------------------------------->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title pan">
            <a data-toggle="collapse" data-parent="#accordion" href="#faq2-3">Question 3</a>
        </h4>
    </div>
    <div id="faq2-3" class="panel-collapse collapse">    
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        </p>
    </div>
</div>
<!----------------------------------------------------------------------------------------------------->
