<div class="panel-group col-sm-8 col-sm-offset-2" id="panel-grp1" >
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#panel-grp1" data-target="#faq1-1" >
            <h4 class="panel-title ">Question 1</h4>
        </div>
        <div id="faq1-1" class="panel-collapse collapse">    
            <p class="panel-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            </p>
        </div>
    </div>
<!----------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#panel-grp1" data-target="#faq1-2">
            <h4 class="panel-title ">Question 2</h4>
        </div>
        <div id="faq1-2" class="panel-collapse collapse">    
            <p class="panel-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            </p>
        </div>
    </div>
<!----------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#panel-grp1"  data-target="#faq1-3">
            <h4 class="panel-title " >Question 3</h4>
        </div>
        <div id="faq1-3" class="panel-collapse collapse">    
            <p class="panel-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            </p>
        </div>
    </div>
<!----------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#panel-grp1" data-target="#faq1-4">
            <h4 class="panel-title ">Question 4</h4>
        </div>
        <div id="faq1-4" class="panel-collapse collapse">    
            <p class="panel-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            </p>
        </div>
    </div>
<!----------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#panel-grp1" data-target="#faq1-5" >
            <h4 class="panel-title ">Question 5</h4>
        </div>
        <div id="faq1-5" class="panel-collapse collapse">    
            <p class="panel-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            </p>
        </div>
    </div>
<!----------------------------------------------------------------------------------------------------->
</div>