<div id="contact-container" class="container">
    <h2>Contact Page</h2>

    <section class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
                <h4>Please Provide Contact Information</h4>
                <form name="contactInfoForm" data-ng-submit="submitForm()" novalidate>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="name" class="form-control" data-ng-model="user.name" required>
                        <p data-ng-show="contactInfoForm.name.$invalid" class="help-block">Please enter your name</p>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" data-ng-model="user.email" required>
                        <p data-ng-show="contactInfoForm.email.$invalid" class="help-block">Please enter your email address</p>
                    </div>
                    <div class="form-group">
                        <label>Comment</label>
                        <textarea type="text" style="resize:none" name="comment" rows="8" class="form-control" data-ng-model="user.comment"></textarea>
                        <p  class="help-block">Do you have any questions / comments?</p>
                    </div>
                    <button type="submit" class="btn btn-primary" data-ng-disabled="contactInfoForm.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </section>

</div>
