<div id="faq-container" class="container">
    <h2>FAQ Page</h2>

<!--*************************************************************************************************-->    
    <section id="faq-section1" class="row col-md-12 faq-section">
        <h4>Section 1</h4>

        <faq-set-one></faq-set-one>

    </section>      

<!----------------------------------------------------------------------------------------------------->

    <section id="faq-section2" class="row col-md-12 faq-section">
        <h4>Section 2</h4>

        <faq-set-two></faq-set-two>

    </section>      
    
<!----------------------------------------------------------------------------------------------------->

    <section id="faq-section3" class="row col-md-12 faq-section">
        <h4>Section 3</h4>

        <faq-set-three></faq-set-three>

    </section>      
    
<!--*************************************************************************************************-->        
</div>
    
    
            