<div id="faq-container" class="container">
    <h2>FAQ Page</h2>

<!--*************************************************************************************************-->    
    <section id="section5" class="row col-md-12 faq-section">
        <h4>Section 5</h4>
        <div class="panel-group col-sm-8 col-sm-offset-2" id="accordion" >

        <div faq-set-one></div>    

        </div>    
    </section>      

<!----------------------------------------------------------------------------------------------------->

    <section id="section5" class="row col-md-12 faq-section">
        <h4>Section 6</h4>
        <div class="panel-group col-sm-8 col-sm-offset-2" id="accordion" >

        <div faq-set-two></div>    

        </div>    
    </section>      
    
<!--*************************************************************************************************-->        
</div>
    
    
            