<div id="home-container" class="container">
    <h2>Home Page</h2>
    
<!--*************************************************************************************************-->    
    <section id="home-section0" class="row home-section">
        <div class="home-text-div col-md-6">
            <h4>Introduction</h4>
        </div>
        <div id="home-intro-div" class="col-md-12">
            <span>Some text</span>
        </div>
    </section>            
<!--*************************************************************************************************-->    
    <section id="home-section1" class="row home-section">
        <div class="home-text-div col-md-6">
            <h4>Section 1</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                dolor in hendrerit in vulputate velit esse molestie consequat,
                vel illum dolore eu feugiat nulla facilisis at vero eros et
                accumsan et iusto odio dignissim qui blandit praesent luptatum
                zzril delenit augue duis dolore te feugait nulla facilisi.
                Nam liber tempor cum soluta nobis eleifend option congue
            </p>
        </div>
        <div  class="home-img-div col-md-6">
            <div>
                <img class="home-img" src="{{imagePath}}image.png" alt="image 1">
            </div>
        </div>
    </section>            
<!--*************************************************************************************************-->    
    <section id="home-section2" class="row home-section">
        <div  class="home-img-div col-md-6">
            <div>
                <img class="home-img" src="images/image.png" alt="image 1">
            </div>
        </div>
        <div class="home-text-div col-md-6">
            <h4>Section 2</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                dolor in hendrerit in vulputate velit esse molestie consequat,
                vel illum dolore eu feugiat nulla facilisis at vero eros et
                accumsan et iusto odio dignissim qui blandit praesent luptatum
                zzril delenit augue duis dolore te feugait nulla facilisi.
                Nam liber tempor cum soluta nobis eleifend option congue
            </p>
        </div>
    </section>
<!--*************************************************************************************************-->
    <section id="home-section3" class="row home-section">
        <div class="home-text-div col-md-6">
            <h4>Section 3</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                dolor in hendrerit in vulputate velit esse molestie consequat,
                vel illum dolore eu feugiat nulla facilisis at vero eros et
                accumsan et iusto odio dignissim qui blandit praesent luptatum
                zzril delenit augue duis dolore te feugait nulla facilisi.
                Nam liber tempor cum soluta nobis eleifend option congue
            </p>
        </div>
        <div  class="home-img-div col-md-6">
            <div>
                <img class="home-img" src="images/image.png" alt="image 1">
            </div>
        </div>
    </section>
  
<!--*************************************************************************************************-->
    <section id="home-section4" class="row home-section">
        <div>
            <div class="home-img-div col-md-4">
                <img class="home-sect4-img" src="images/image.png" alt="image 1">
            </div>
            <div class="home-img-div col-md-4">
                <img class="home-sect4-img" src="images/image.png" alt="image 1">
            </div>
            <div class="home-img-div col-md-4">
                <img class="home-sect4-img" src="images/image.png" alt="image 1">
            </div>
        </div>
        <div class="home-text-div col-md-4">
            <h4>Section 4a</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            </p>
        </div>        
        <div class="home-text-div col-md-4">
            <h4>Section 4b</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            </p>
        </div>        
        <div class="home-text-div col-md-4">
            <h4>Section 4c</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            </p>
        </div>        
    </section>
  
<!--*************************************************************************************************-->
</div>  

<!--<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" -->
<!--        title="Click to return on the top page" data-toggle="tooltip" data-placement="left">-->
<!--    <span class="glyphicon glyphicon-chevron-up"></span>-->
<!--</a>-->
